@{
    ViewBag.Title = "Help";
}

<link href="/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="~/css/toastr.css" rel="stylesheet" />

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-toggle.min.js"></script>
<script src="~/js/toastr.js"></script>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"> - Help</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/#about">About</a>
                </li>
                <li>
                    <a href="/#software">Software</a>
                </li>
                <li>
                    <a href="/#news">News</a>
                </li>
                <li>
                    <a href="/#webinar">Webinar</a>
                </li>
                <li>
                    <a href="/#web99">Web99</a>
                </li>
                <li>
                    <a href="/#training">Training</a>
                </li>
                <li>
                    <a href="/Purchase">Purchase</a>
                </li>
                <li>
                    <a href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
    </div>
    <br />
    <br />
    <div class="col-lg-12">
        <div class="col-lg-9">
            <h3>Help</h3>
            <p>You will have 30 days free use of Magenta Charts, Magenta Webinars, and Web99 Webinars (these are given by Magenta Coaches who have a proven track record of trading and teaching.) After 30 days you have 3 options.</p>
            <p>Pay $50/mth for Data and Magenta Webinars.</p>
            <p>Pay $99/mth for Data, Magenta Webinars, and Web99.</p>
            <p>Sign up with Tradier Brokerage and you have free Magenta Charts, Data and Magenta Webinars. There is a Tradier Icon on the top of magentatrader.com for the Magenta Link to Tradier.</p>
            <p>Tradier is current giving a Magenta sign up special. Free trading until June 2017. After the special, the Option Contracts are $0.35 with a $5 minimum. Minimum account is $1000 with no trading minimum for magenta Special.</p>
            <h3>You have completed the sign up information</h3>
            <p>Test your Username and Password by launching the Software.</p>
            <p>Click on the Software Tab on the top legend on magentatrader.com</p>
            <p>Click on the blue <a href="/Software" class="btn btn-primary btn-lg"><span class="network-name">Launch Software</span></a> button.</p>
            <p>In the top left corner type in any symbol in the box provided.</p>
            <h3>Learn how to use Magenta Charts</h3>
            <p>Click the Webinar tab on the top legend of magentatrader.com</p>
            <p>View Webinar Videos button</p>
            <p>Advance the page button to page 2.</p>
            <p>2016-07-27  Training 9pm ET    Basic training for beginners. Approximately 60 mins</p>
            <p>There are four other Training Webinars from July 31 to August 17 2016 that are directly above the basic training Webinar. They are excellent to learn more depth about the software.</p>
            <h3>Watch the Live Webinars</h3>
            <p>Go to Calendar on the top legend of magentatrader.com</p>
            <p>Hoover over the desire Webinar until an underlined text link appears</p>
            <p>Select the text link</p>
            <p>Fill in information for GotoWebinar.</p>
            <p>You will receive an email 24 hours before the webinar. You can also enter the webinars through the Calendar just before the start of each webinar.</p>
            <p>All webinars are archived.under Webinars or Web99 Webinars</p>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>