@{
    ViewBag.Title = "Index";
}

<link href="/wijmo/styles/wijmo.min.css" rel="stylesheet" />
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/knockout-3.2.0.js"></script>
<script src="/wijmo/controls/wijmo.min.js" type="text/javascript"></script>
<script src="/wijmo/controls/wijmo.grid.min.js" type="text/javascript"></script>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"></span></a>
        </div>
    </div>
</nav>

<div id="DivPurchases">

    <div class="container">

        <div class="row">

            <h2 class="section-heading">Purchases</h2>

            <div class="row">
                <div class="col-lg-2 pull-right">
                    <button id="CmdCoupon" type="submit" class="btn btn-primary btn-block" onclick="CmdCoupon_OnClick()">Coupons</button>
                </div>
            </div>

            <br />

            <div id="PurchaseGrid" class="grid"></div>

            <br />

            <br />

        </div>

        <div class="row">
            @*<img class="img-responsive center-block" src="/img/workshop2.jpg" />*@
        </div>

    </div>

</div>

<div class="modal" id="Coupons">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 id="CouponsTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>Code</dt>
                    <dd>
                        <input class="form-control" id="CouponCode" type="text" />
                    </dd>
                </dl>
                <br />
                <div id="CouponLink">&nbsp;</div>
                <br />
                <div id="CouponLink1">&nbsp;</div>
                <br />
                <div id="CouponLink2">&nbsp;</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var Purchases;
    var PurchaseGrid;

    function getPurchases() {
        var purchases = new wijmo.collections.ObservableArray();

        //purchases.push({
        //    Product: "<font color='#CC009C'>Monthly Subscriptions</font>",
        //    Purchase: ""
        //});

        //purchases.push({
        //    Product: "Magenta Charts",
        //    Price: "US$ 98",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='ac14c158-a38a-4af6-898a-71a3e9d0a2fc' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        purchases.push({
            Product: "Web99",
            Price: "US$ 99",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='f53a6465-07f9-4739-bb9d-048cf29816ec' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        //purchases.push({
        //    Product: "Realtime",
        //    Price: "US$ 97",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='bfa29e49-cbc3-4334-b01b-2667d3313990' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Web99 and Realtime",
        //    Price: "US$ 169",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='9f79c301-44c4-4a45-876d-d505e51b631d' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        purchases.push({
            Product: "<font color='#CC009C'>Packages</font>",
            Purchase: ""
        });

        purchases.push({
            Product: "Platinum - Magenta Charts, Web99 and Realtime",
            Price: "US$ 249",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='93574ca7-8521-40e9-afe3-9bb7a4c32035' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        purchases.push({
            Product: "Gold A - Web99 and Realtime",
            Price: "US$ 169",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='54ffed1e-f51e-49e9-97f4-0d47c52bb72f' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        purchases.push({
            Product: "Gold B - Web99 and Magenta Charts",
            Price: "US$ 169",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='ded0a0e5-c00a-476c-ae7f-328c5fdc3ad0' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        purchases.push({
            Product: "Gold C - Magenta Charts and Realtime",
            Price: "US$ 169",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='fc1d1bb1-d809-4e01-a57e-aa6ca394067d' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        purchases.push({
            Product: "Annual Web99",
            Price: "US$ 995",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='42987815-3718-4461-bfcb-cb700e66d49d' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        purchases.push({
            Product: "<font color='#CC009C'>One-time Purchases</font>",
            Purchase: ""
        });

        purchases.push({
            Product: "One-time Magenta Charts Purchase",
            Price: "US$ 3,495",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='9a179f39-241d-4f13-b122-df91712a1bbe' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        purchases.push({
            Product: "Magentatrader Bootcamp",
            Price: "US$ 295",
            Purchase: '<form name="PrePage" method = "post" action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"> <input type = "hidden" name = "LinkId" value ="48eb2987-ed2d-46fb-95eb-5db121808781" /> <input type = "image" src ="//content.authorize.net/images/buy-now-gold.gif" /> </form>'
        });

        //purchases.push({
        //    Product: "Annual Realtime",
        //    Price: "US$ 700",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='3754c8b7-89da-43c9-8dc5-3c2879dd98a2' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        purchases.push({
            Product: "<font color='#CC009C'>Data Server Fee</font>",
            Purchase: ""
        });

        purchases.push({
            Product: "Monthly Data Server Fee",
            Price: "US$ 50",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='e065dea3-a346-4f24-9d1b-d3b90dab244b' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        purchases.push({
            Product: "Annual Data Server Fee",
            Price: "US$ 495",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='c126eae2-7532-491e-b0b6-9678e758ee49' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        purchases.push({
            Product: "<font color='#CC009C'>Workshops</font>",
            Purchase: ""
        });

        //purchases.push({
        //    Product: "Web99 Internet Workshop - March 9-13, 2015",
        //    Price: "US$ 295",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='7c830599-199a-4591-bb4b-8732dd001067' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        // June 9-12 Internet Workshop $395 if no Web99 or Realtime $295 with Web99 or Realtime

        //purchases.push({
        //    Product: "Annual Internet Workshops (Jun/Sep/Nov 2015)",
        //    Price: "US$ 595",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='96b97cc4-5de7-47ff-a882-dd94dfa1e50c' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Web99 Internet Workshop for non-Web99/Realtime subscribers - August 25-28, 2015",
        //    Price: "US$ 395",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='73adf8a8-c9f9-4759-9c3f-0707a94c6778' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Web99 Internet Workshop for existing Web99/Realtime subscribers - August 25-28, 2015",
        //    Price: "US$ 295",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='7c830599-199a-4591-bb4b-8732dd001067' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "July 2016 Internet Workshop",
        //    Price: "US$ 295",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='7c830599-199a-4591-bb4b-8732dd001067' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta Duet Workshop Orange County (April 30 - May 1, 2016)",
        //    Price: "US$ 295",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='5b85c5d5-6715-4fbe-9f98-7dfaed905d28' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta Duet Workshop Orange County (April 30 - May 1, 2016) - Couple",
        //    Price: "US$ 445",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='9abae95a-774e-4d51-967b-1a1457334df4' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta Duet Workshop Bradenton (April 23 - 24, 2016)",
        //    Price: "US$ 295",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='d80ed15e-09ec-46e8-8038-6372bc0f4f50' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta Duet Workshop Bradenton (April 23 - 24, 2016) - Couple",
        //    Price: "US$ 445",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='edc8df58-f93e-4799-b25a-ea23b8dc8e2c' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta 7 Day Alaska Cruise Workshop (August 23, 2016) <button class='btn btn-primary btn-xs' data-toggle='modal' id='CmdEditEvent1' onclick='CmdAlaskaCruise2016_OnClick()'>Details</button>",
        //    Price: "US$ 995",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='93a3a6ff-f249-49aa-8b31-85961f66b775' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta 7 Day Alaska Cruise Workshop Couples (August 23, 2016) <button class='btn btn-primary btn-xs' data-toggle='modal' id='CmdEditEvent1' onclick='CmdAlaskaCruise2016_OnClick()'>Details</button>",
        //    Price: "US$ 1,495",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='53c868a4-ee26-4e2f-9531-f07498757d96' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta Las Vegas Workshop - Nov 13-16, 2016",
        //    Price: "US$ 995",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='16c583e4-ba7e-4c09-8f53-698490f80d47' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta Las Vegas Workshop - Nov 13-16, 2016 (If Couple)",
        //    Price: "US$ 1,494",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='7915f54f-4c28-411d-8c90-2745e3725f20' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta Trader 2017 Tour (January 28 - February 26, 2017)",
        //    Price: "US$ 295",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='d80ed15e-09ec-46e8-8038-6372bc0f4f50' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta Trader 2017 Tour (January 28 - February 26, 2017) - Couple",
        //    Price: "US$ 445",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='9abae95a-774e-4d51-967b-1a1457334df4' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta Trader Internet Workshop <button class='btn btn-primary btn-xs' data-toggle='modal' id='CmdDetails' onclick='CmdDetails_OnClick()'>Details</button>",
        //    Price: "US$ 299",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='e23a61ca-1c86-4cab-ac3c-2e6a5abd641e' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta 5 Year Anniversary Festival <button class='btn btn-primary btn-xs' data-toggle='modal' id='CmdEditEvent' onclick='CmdAnniversary5_OnClick()'>Details</button>",
        //    Price: "US$ 295",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='b8d5d262-ae96-4aef-bd51-d6d990a69277' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta 5 Year Anniversary Festival (If Couple) <button class='btn btn-primary btn-xs' data-toggle='modal' id='CmdEditEvent' onclick='CmdAnniversary5_OnClick()'>Details</button>",
        //    Price: "US$ 445",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='e9dcd6e8-0f05-4247-b715-834d16923000' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});
        //purchases.push({
        //    Product: "Magenta Trader Bootcamp (May 8-12, 2017) <button class='btn btn-primary btn-xs' data-toggle='modal' id='CmdDetails' onclick='CmdBC20170508_OnClick()'>Details</button>",
        //    Price: "US$ 296",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='96663f2e-6c44-4450-b66e-5fa4331ecff9' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        //purchases.push({
        //    Product: "Magenta Trader Bootcamp Archive",
        //    Price: "US$ 95",
        //    Purchase: '<form name="PrePage" method = "post" action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"> <input type = "hidden" name = "LinkId" value ="1b785a28-aa93-4d36-a010-be7dfe463d7f" /> <input type = "image" src ="//content.authorize.net/images/buy-now-gold.gif" /> </form>'
        //});

        //purchases.push({
        //    Product: "Magenta Trader Bootcamp 2",
        //    Price: "US$ 295",
        //    Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='7c830599-199a-4591-bb4b-8732dd001067' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        //});

        purchases.push({
            Product: "Las Vegas Workshop Nov. 6-8, 2017 <button class='btn btn-primary btn-xs' data-toggle='modal' id='CmdDetails' onclick='CmdLV20171030_OnClick()'>Details</button>",
            Price: "US$ 995",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='16c583e4-ba7e-4c09-8f53-698490f80d47' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        purchases.push({
            Product: "Las Vegas Workshop Nov. 6-8, 2017 - Couples <button class='btn btn-primary btn-xs' data-toggle='modal' id='CmdDetails' onclick='CmdLV20171030_OnClick()'>Details</button>",
            Price: "US$ 1,495",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='7915f54f-4c28-411d-8c90-2745e3725f20' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        purchases.push({
            Product: "Magenta Tampa Workshop Feb 10-11 2018",
            Price: "US$ 293",
            Purchase: '<form name="PrePage" method = "post" action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"> <input type = "hidden" name = "LinkId" value ="b72d8f3d-0005-40d5-81b0-6d8646d27bd6" /> <input type = "image" src ="//content.authorize.net/images/buy-now-gold.gif" /> </form>'
        });

        purchases.push({
            Product: "<font color='#CC009C'>Journals</font>",
            Purchase: ""
        });

        purchases.push({
            Product: "Variable Seasonality Journal",
            Price: "US$ 195",
            Purchase: "<form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='73b3bed7-0212-47e5-9063-dd05c3a75d6e' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>"
        });

        return purchases;
    }
    function CmdAnniversary5_OnClick() {
        location.href = '/Campaign/Anniversary5';
    }
    function CmdAlaskaCruise2016_OnClick() {
        location.href = '/Campaign/AlaskaCruise2016';
    }
    function CmdDetails_OnClick() {
        location.href = '/Campaign/IW20170305';
    }
    function CmdLV20171030_OnClick() {
        location.href = '/Campaign/LV20171030';
    }
    function CmdBC20170508_OnClick() {
        location.href = '/Campaign/BC20170508';
    }
    function CmdCoupon_OnClick() {
        $("#CouponsTitle").text("Coupons");
        $('#Coupons').modal('show');
    }
    function CouponCode_OnExit() {
        var CouponCode = document.getElementById('CouponCode').value;
        if (CouponCode == "Ron") {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();

            $("#CouponLink").append("Platinum - Magenta Charts, Web99 and Realtime for Three (3) Months - $100/Month <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='f4b22f9b-7b4c-4ef0-87ed-c86d87f23f72' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
        } else if (CouponCode == "Quest") {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();

            $("#CouponLink").append("Questrade - Magenta Charts, Web99 and Realtime - $99.50/Month <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='8ab10665-7348-4255-9820-19008f5dcac0' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
        } else if (CouponCode == "1387I1") {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();

            $("#CouponLink").append("<a href='https://www2.tuscanylasvegas.com/smsworld/wc.dll?smsWorld~Availbox~&wsi=port' class='btn btn-primary btn-xs'>Tuscany Reservation</a>");
        } else if (CouponCode == "849") {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();

            //$("#CouponLink").append("Web99 Coupon - $85/Month <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='4a8411f8-4996-45cf-8b45-caabbc05f499' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
            $("#CouponLink1").append("Annual Web99 Coupon - $849/Year <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='499a6e23-4e05-4ed8-8a67-109b9f0da08a' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
        } else if (CouponCode == "2016") {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();

            //$("#CouponLink1").append("Personal Service from MagentaTrader.com <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='f16a1a7d-dabf-4aac-953b-8ed3bb7a759f' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
            $("#CouponLink1").append("Personal Service from MagentaTrader.com - $10,000 (12 Months Money-back Guarantee) <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='0b372bec-3698-428d-b647-393ee31bb43a' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
        } else if (CouponCode == "2017") {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();

            $("#CouponLink1").append("Personal Service from MagentaTrader.com - $5,000 (12 Months Money-back Guarantee) <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='f16a1a7d-dabf-4aac-953b-8ed3bb7a759f' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
        } else if (CouponCode.toUpperCase() == "JUNE") {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();

            $("#CouponLink2").append("Internet Workshop <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='c5f8eecf-7650-49da-ac33-8ce512a5722a' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
        } else if(CouponCode.toUpperCase() == "WEB85") {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();

            $("#CouponLink").append("$85 per Month Web99 Coupon <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='4a8411f8-4996-45cf-8b45-caabbc05f499' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
        } else if(CouponCode.toUpperCase() == "BOOK") {
            //$("#CouponLink").empty();
            //$("#CouponLink1").empty();
            //$("#CouponLink2").empty();

            //$("#CouponLink").append("Magenta Book/Annual Charts <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='dbabb9ac-66c3-4d05-804f-e8074043b247' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
        } else if (CouponCode.toUpperCase() == "BEN") {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();

            $("#CouponLink").append("Magenta Trader Lifetime Chart and Web99 for $3,000 <form name='PrePage' method = 'post' action = 'https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type = 'hidden' name = 'LinkId' value ='e1212214-02bf-4dff-8fa7-c2f2b88f9846' /> <input type = 'image' src ='//content.authorize.net/images/buy-now-gold.gif' /> </form>");
        } else if (CouponCode.toUpperCase() == "FULL85") {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();

            $("#CouponLink").append('Magenta Full Package for $85 / Month <form name="PrePage" method = "post" action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"> <input type = "hidden" name = "LinkId" value ="10d85ca9-8ee5-438d-ab6a-29b03fc3d6f8" /> <input type = "image" src ="//content.authorize.net/images/buy-now-gold.gif" /> </form>');
        } else {
            $("#CouponLink").empty();
            $("#CouponLink1").empty();
            $("#CouponLink2").empty();
        }
    }

    $(document).ready(function () {
        Purchases = new wijmo.collections.CollectionView(getPurchases());
        PurchaseGrid = new wijmo.grid.FlexGrid('#PurchaseGrid');
        PurchaseGrid.initialize({
            columns: [
                        {
                            "header": "Purchase",
                            "binding": "Purchase",
                            "width": 150,
                            "allowSorting": false,
                            "isContentHtml": true
                        },
                        {
                            "header": "Product",
                            "binding": "Product",
                            "allowSorting": false,
                            "isContentHtml": true,
                            "width": "*"
                        },
                        {
                            "header": "Price",
                            "binding": "Price",
                            "allowSorting": false,
                            "align": "right",
                            "width": 100
                        }
            ],
            autoGenerateColumns: false,
            itemsSource: Purchases,
            isReadOnly: true,
            selectionMode: wijmo.grid.SelectionMode.Cell
        });
        PurchaseGrid.trackChanges = true;
        PurchaseGrid.pageSize = 15;
        PurchaseGrid.itemFormatter = function (panel, r, c, cell) {
            if (panel.cellType == wijmo.grid.CellType.Cell) {
                var flex = panel.grid;
                flex.rows[r].height = 30;
            }
        };

        document.getElementById('CouponCode').addEventListener("blur", CouponCode_OnExit, true);
        document.getElementById("CouponCode").addEventListener("keydown", function (e) {
            if (e.keyCode == 13) { CouponCode_OnExit(); }
        }, false);
    });
    
</script>

<script src="/lib/jquery/js/jquery.js"></script>
<script src="/lib/bootstrap/js/bootstrap.js"></script>
<script src="/wijmo/controls/wijmo.input.min.js"></script>
<script src="/wijmo/interop/knockout/wijmo.knockout.min.js"></script>