@*@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<script src="/lib/jquery/js/jquery.js"></script>
<script src="/lib/bootstrap/js/bootstrap.js"></script>

<link href="/css/site.css" rel="stylesheet" />

<script src="/js/date.js"></script>

<script src="/wijmo/controls/wijmo.min.js" type="text/javascript"></script>
<script src="/wijmo/controls/wijmo.input.min.js"></script>
<script src="/wijmo/controls/wijmo.grid.min.js" type="text/javascript"></script>
<script src="/wijmo/controls/wijmo.chart.min.js"></script>

<link href="/wijmo/styles/wijmo.min.css" rel="stylesheet" />

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#"><img src="/img/logo-1.png" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#software">Software</a>
                </li>
                <li>
                    <a href="#news">News</a>
                </li>
                <li>
                    <a href="#webinar">Webinar</a>
                </li>
                <li>
                    <a href="#web99">Web99</a>
                </li>
                <li>
                    <a href="#training">Training</a>
                </li>
                <li>
                    <a href="/Purchase">Purchase</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<a name="intro"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1><img class="img-responsive center-block" src="/img/logo.png" /></h1>
                    <h3>Seasonal and Range Trading Software</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="#training" class="btn btn-default btn-lg"><i class="fa fa-lightbulb-o"></i> <span class="network-name">Learn</span></a>
                        </li>
                        <li>
                            <a href="/Account/Login" class="btn btn-default btn-lg"><i class="fa fa-key"></i> <span class="network-name">Join</span></a>
                        </li>
                        <li>
                            <a href="/Software" class="btn btn-default btn-lg"><i class="fa fa-line-chart"></i> <span class="network-name">Trade</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<a name="about"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">About Magenta Trader</h2>
                <p class="lead">
                    Magenta Trader is a powerful stock market visualization software that increases your probability of trading
                    success.  We succeed by using deep analysis and comprehensive searches of seasonal price movements and range trading
                    trends. Don't get caught relying on technical indicators that use the same data in slightly different ways
                    to predict price movements. Magenta Trader uses totally independent data by comparing the last six months
                    with movements over the previous 20 years!
                </p>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">
                        <p style="font-size: 13px; font-style: italic">Hi Derek! More gratifying news.  Thank you again.</p>
                        <p style="font-size: 13px; font-style: italic">B  May 8, 2015 contracts NFLX June 19 @@19.75</p>
                        <p style="font-size: 13px; font-style: italic">S  May15, 2015 contracts NFLX June 19 @@49.85</p>
                        <p style="font-size: 13px; font-style: italic">Profit  $93,000.00</p>
                        <br />
                        <p><b>Peter</b></p>
                        <p>Toronto, Ontario</p>
                    </li>
                </ul>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">
                        <p style="font-size: 13px; font-style: italic">The Las Vegas workshop was outstanding.  Sue and Darshak did a great job of teaching with a lot of detail.  Derek did a good job of informing us about Magenta updates.  I am looking forward to the next workshop.</p>
                        <p style="font-size: 13px; font-style: italic">Thank you,</p>
                        <br />
                        <p><b>Dale Cross</b></p>
                        <p>California</p>
                    </li>
                </ul>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">
                        <p style="font-size: 13px; font-style: italic">Derek,</p>
                        <p style="font-size: 13px; font-style: italic">This Magenta workshop, was the BEST one, so far.  They keep getting better. I have already signed up for the next one in November.</p>
                        <p style="font-size: 13px; font-style: italic">Best wished,</p>
                        <br />
                        <p><b>Jim G.</b></p>
                        <p>Florida</p>
                    </li>
                </ul>
                </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <ul id="PackageList" class="list-group">
                    <li class="list-group-item" style="text-align:center">Platinum - Magenta Charts, Web99 and Realtime <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='93574ca7-8521-40e9-afe3-9bb7a4c32035' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form></li>
                    <li class="list-group-item" style="text-align:center">Gold A - Web99 and Realtime <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='54ffed1e-f51e-49e9-97f4-0d47c52bb72f' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form></li>
                    <li class="list-group-item" style="text-align:center">Gold B - Web99 and Magenta Charts <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='ded0a0e5-c00a-476c-ae7f-328c5fdc3ad0' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form></li>
                    <li class="list-group-item" style="text-align:center">Gold C - Magenta Charts and Realtime <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='fc1d1bb1-d809-4e01-a57e-aa6ca394067d' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form></li>
                    <li class="list-group-item" style="text-align:center"><a href="/Purchase">More packages...</a></li>
                </ul>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">
                        <p style="font-size: 13px; font-style: italic">The Magenta workshops have been the key to my success. I have been attending them with my father for the last two years. In that time I have built strong relationships with Derek and the other coaches Sue and Darshak. All of them go out of their way to answer my questions and take a personal interest in my success and understanding of the concepts and software.</p>
                        <p style="font-size: 13px; font-style: italic">As I watch the Magenta software develop and grow, I am impressed that it all stems from Derek. He sees things in ways that no one else does and has a knack for easily translating and presenting the concepts to students like us. I look forward to the constant refinement of the Magenta software and am a seasonality believer.</p>
                        <p style="font-size: 13px; font-style: italic">Thank you for your hard work Derek.</p>
                        <br />
                        <p><b>TG Watkins</b></p>
                        <p>Phoenix, Arizona</p>
                    </li>
                </ul>
                <br />
                <ul class="list-group">
                    <li class="list-group-item">
                        <p style="font-size: 13px; font-style: italic">Hi Derek,</p>
                        <p style="font-size: 13px; font-style: italic">Just wanted to let you know the Vegas workshop was terrific.  I keep thinking as I approach each one that it can't get any better, yet each one is better than the last.  Everything is coming together beautifully between you with Magenta training, Sue with the MACD training, and Darshak with his nuances in reading the charts.  Whoa!!!  Ever so appreciative of everyone's fine work and mentoring.</p>
                        <p style="font-size: 13px; font-style: italic">Thanks again,</p>
                        <br />
                        <p><b>Pepe</b></p>
                        <p>California</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Five(5) simple step process to supercharge your trading.</h2>
                <p class="lead">
                    Derek Pilger, the founder of Magenta Trader will present a simple 5 step process to supercharge your trading,
                    using common sense analysis made easy only with Magenta Trader:
                    <ul class="list-group">
                        <li class="list-group-item">What times of the year should I buy or sell a stock or option?</li>
                        <li class="list-group-item">Does the stock price movements agree with seasonal patterns?</li>
                        <li class="list-group-item">Do we have a strong price trend that looks set to continue?</li>
                        <li class="list-group-item">Are we off the trend line in an overbought or oversold position?</li>
                        <li class="list-group-item">Are the stock and the overall market moving in the expected direction right now?</li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body"><img class="img-responsive center-block" src="/img/derekportrait-1.png" alt="" /></div>
                    <div class="panel-footer" style="text-align:center">
                        Derek Pilger, Founder - Magenta Trader 
                    </div>
                    <div class="panel-body" style="text-align:center">
                        "We did not invent cycle, trend, and range trading. The practice has been around for
                        decades. Take a few minutes and you will see that by using current technology, we made
                        the charts and information more clear."
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a name="software"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Magenta Trader Software</h2>
                <p class="lead">
                    Magenta Trader is Seasonal and Range Trading Software that simply works. It features the world's best 252
                    day seasonality and a world class search engine and calendar.
                    <br />
                    <br />
                    <a href="/Software" class="btn btn-primary btn-lg"><span class="network-name">Launch Software</span></a>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/img/software-1.png" alt="">
            </div>
        </div>
    </div>
</div>

<a name="news"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">News</h2>
            <p class="lead">
                April 27, 2015:
                <ul class="list-group">
                    @*<li class="list-group-item">Magenta Trader.com | 5/4/2015-5/10/2015 | <a href="https://www2.tuscanylasvegas.com/smsworld/wc.dll?smsWorld~Availbox~&wsi=port">1387I1 - Tuscany Suites & Casino Group Code</a></li>*@
                    <li class="list-group-item"><a href="https://brokerage.tradier.com/platforms/magenta-trader">Tradier Brokerage Integration</a></li>
                    <li class="list-group-item">Screener to include ADR/AGR values</li>
                    <li class="list-group-item">Chart to include 5 years of data</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<a name="webinar"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Webinar</h2>
                <p class="lead">
                    The best software in the world is junk unless one knows how to use it properly.
                    The founder Derek Pilger provides three weekly webinars for all the Magenta family.
                    Three times a week he looks at active trades and makes Magenta predictions.
                    <br />
                    <br />
                    <a href="/FreeWebinars" class="btn btn-primary btn-lg"><span class="network-name">VIEW WEBINAR VIDEOS</span></a>
                    <br />
                    <br />
                    <a href="http://www.tradersexclusive.com"><img src="/img/te1.png" /></a>
                    <br />
                    <br />
                    @*<a href="/FreeWebinars/Webinar" class="btn btn-warning btn-lg">Wednesday Join Webinar 1pm ET Derek speaks at 2:30pm ET</a>*@
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/img/webinar.png" alt="">
                @*<ul id="WebinarList" class="list-group">
                    <li class="list-group-item" style="text-align:center"><a href="#">Webinar1</a></li>
                    <li class="list-group-item" style="text-align:center"><a href="#">Webinar2</a></li>
                    <li class="list-group-item" style="text-align:center"><a href="#">Webinar3</a></li>
                </ul>*@
                @*<div id="CalendarGrid" class="grid"></div>*@
            </div>
        </div>
    </div>
</div>

<a name="webinarCalendar"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <select id="WebinarMonth" class="form-control">
                    <option value="0">January</option>
                    <option value="1">February</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                    <option value="4">May</option>
                    <option value="5">June</option>
                    <option value="6">July</option>
                    <option value="7">August</option>
                    <option value="8">September</option>
                    <option value="9">October</option>
                    <option value="10">November</option>
                    <option value="11">December</option>
                </select>
            </div>
            <div class="col-lg-2">
                <select id="WebinarYear" class="form-control">
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2016">2017</option>
                    <option value="2016">2018</option>
                    <option value="2016">2019</option>
                </select>
            </div>
            <div class="col-lg-2">
                <button id="CmdGetWebinar" type="submit" class="btn btn-primary btn-block" onclick="CmdGetWebinar_OnClick()">Get Webinar</button>
            </div>
        </div>
        <div class="row">
            <p class="lead">
                <div id="CalendarGrid" class="grid"></div>
            </p>
        </div>
    </div>
</div>

<a name="web99"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Web99</h2>
                <p class="lead">
                    Magenta Trader is proud to have the coaches of Web99. They cover advanced techniques through Magenta,
                    MACD and great searches to prepare you for the markets. The service is $99/month, and once you’ve listened to a 
                    Web99 Webinar, you’ll come back every week.
                    <br />
                    <br />
                    <a href="/Web99" class="btn btn-primary btn-lg"><span class="network-name">VIEW WEB99 VIDEOS</span></a>
                    @*<br />
                    <br />
                    <a href="/Account" class="btn btn-warning btn-lg">Web99 Internet Workshop - March 9-13, 2015<br/>8:30AM (Derek) 9:00AM (Sue) - Mon-Fri</a>*@
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/img/web99-1.png" alt="">
            </div>
        </div>
    </div>
</div>

<a name="training"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Training Videos</h2>
                <p class="lead">
                    Upgrade your tradings skills with sample tutorial videos taught by Derek Pilger and his team at Magenta Trader.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/img/training1.png" alt="">
                <ul id="TrainingVideoList" class="list-group">
                    @*<li class="list-group-item" style="text-align:center"><a href="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-cc1e445d-1500-80bd-b632-f1e4b77a3bb9/2015-02-16_19.mp4?sv=2012-02-12&sr=c&si=95c396b1-58bb-4e8c-ba81-0a4d6dca8891&sig=2BMDckOug7tkP2zOW0HFXo31WF9alj%2FAyZgqlPJmtEs%3D&st=2015-02-18T14%3A27%3A50Z&se=2017-02-17T14%3A27%3A50Z">Feb 16, 2015 - First Training Video</a></li>*@
                    <li class="list-group-item" style="text-align:center"><a href="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-cc1e445d-1500-80c3-f886-f1e50d0b146c/My%20Movie.mp4?sv=2012-02-12&sr=c&si=5ce36bb2-8d70-4cb4-b2b2-ad327bf9a7d6&sig=vSoxy9AXwcjXWLZOu8IRgNE4SaYNzF5YVqX6OEMlRQM%3D&st=2015-06-07T11%3A48%3A10Z&se=2115-05-14T11%3A48%3A10Z">June 6, 2015 - First Training Video</a></li>
                    @*<li class="list-group-item" style="text-align:center">
                        <video src="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-8712445d-1500-80bd-ca8b-f1e4b886a708/2015-02-18_21.mp4?sv=2012-02-12&sr=c&si=072cc33a-1993-4e69-9b3e-ed41017bc276&sig=c0kzMz%2BzqthIM4LnsyfNgn%2BJIV9OE5%2BfwDsG%2FI7QGZc%3D&se=2016-02-19T22%3A29%3A09Z" controls autoplay loop muted preload="auto" class="video1">
                            View Video
                        </video>
                    </li>*@
                </ul> 
            </div>
        </div>
    </div>
</div>

<a name="contact"></a>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2><i class="fa fa-phone fa-fw"></i> 813 961-2641</h2>
            </div>
            @*<div class="col-lg-6">
                <a href="https://www.facebook.com/magentatradercloud"><h2><i class="fa fa-facebook-square"></i></h2></a>
                <a href="#"><h2><i class="fa fa-twitter-square"></i></h2></a>
                <a href="#"><h2><i class="fa fa-git-square"></i></h2></a>
                <p>CALL TO GET PASSWORD: Feb. 17, 2015: (A-F), Feb. 18, 2015: (G-L), Feb. 19, 2015: (M-S), Feb. 20, 2015: (T-Z) </p>
            </div>*@
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/magentatradercloud"><h2><i class="fa fa-facebook-square"></i></h2></a>
                    </li>
                    <li>
                        <a href="#"><h2><i class="fa fa-twitter-square"></i></h2></a>
                    </li>
                    <li>
                        <a href="#"><h2><i class="fa fa-git-square"></i></h2></a>
                    </li>
                </ul>
            </div>
            @*<div class="col-lg-4">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="#webinar" class="btn btn-default btn-lg"><i class="fa fa-lightbulb-o fa-fw"></i> <span class="network-name">Learn</span></a>
                    </li>
                    <li>
                        <a href="/Account/Login" class="btn btn-default btn-lg"><i class="fa fa-key fa-fw"></i> <span class="network-name">Join</span></a>
                    </li>
                    <li>
                        <a href="/Software" class="btn btn-default btn-lg"><i class="fa fa-line-chart fa-fw"></i> <span class="network-name">Trade</span></a>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#software">Software</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#news">News</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#webinar">Webinar</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#web99">Web99</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#training">Training</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/Purchase">Purchase</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Magenta Trader 2015. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<!--JAVASCRIPT-->>
<script type="text/javascript">
    var CalendarData;
    var CalendarGrid;
    var WebinarData = [];

    function GetCalendarDate(Month, Year) {
        var Sun = "", Mon = "", Tue = "", Wed = "", Thu = "", Fri = "", Sat = "";
        var data = new wijmo.collections.ObservableArray();

        // Get the start day, e.g., Monday=1, Tuesday=2, etc.
        var firstDay = new Date(Year, Month, 1);
        var startingDay = firstDay.getDay();

        // Get the month length
        var cal_days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        var monthLength = cal_days_in_month[Month];
        if (Month == 1) { //FEB
            if ((Year % 4 == 0 && Year % 100 != 0) || Year % 400 == 0) {
                monthLength = 29;
            }
        }

        var day = 1;
        for (var i = 0; i < 9; i++) {
            for (var j = 0; j <= 6; j++) {
                if (day <= monthLength && (i > 0 || j >= startingDay)) {
                    var dayDate = Year.toString() + "-" + (Month + 1).toString() + "-" + day.toString();
                    switch (j) {
                        case 0:
                            Sun = day.toString() + "<br />" + GetWebinarData(dayDate);   
                            break;
                        case 1:
                            Mon = day.toString() + "<br />" + GetWebinarData(dayDate);
                            break;
                        case 2:
                            Tue = day.toString() + "<br />" + GetWebinarData(dayDate);
                            break;
                        case 3:
                            Wed = day.toString() + "<br />" + GetWebinarData(dayDate);
                            break;
                        case 4:
                            Thu = day.toString() + "<br />" + GetWebinarData(dayDate);
                            break;
                        case 5:
                            Fri = day.toString() + "<br />" + GetWebinarData(dayDate);
                            break;
                        case 6:
                            Sat = day.toString() + "<br />" + GetWebinarData(dayDate);
                            break;
                    }
                    day++;
                }
            }

            if (day > monthLength) {
                data.push({
                    Sunday: Sun,
                    Monday: Mon,
                    Tuesday: Tue,
                    Wednesday: Wed,
                    Thursday: Thu,
                    Friday: Fri,
                    Saturday: Sat
                });
                break;
            } else {
                data.push({
                    Sunday: Sun,
                    Monday: Mon,
                    Tuesday: Tue,
                    Wednesday: Wed,
                    Thursday: Thu,
                    Friday: Fri,
                    Saturday: Sat
                });
                Sun = ""; Mon = ""; Tue = ""; Wed = ""; Thu = ""; Fri = ""; Sat = "";
            }
        }
        return data;
    }
    function MakeCalendarGrid(Month, Year) {
        CalendarData = new wijmo.collections.CollectionView(GetCalendarDate(Month, Year));
        CalendarData.pageSize = 6;

        CalendarGrid.dispose();
        CalendarGrid = new wijmo.grid.FlexGrid('#CalendarGrid');
        CalendarGrid.initialize({
            columns: [
                        {
                            "header": "Sunday",
                            "binding": "Sunday",
                            "width": "7*",
                            "allowSorting": false,
                            "isContentHtml": true,
                            "wordWrap": true
                        },
                        {
                            "header": "Monday",
                            "binding": "Monday",
                            "width": "7*",
                            "allowSorting": false,
                            "isContentHtml": true,
                            "wordWrap": true
                        },
                        {
                            "header": "Tuesday",
                            "binding": "Tuesday",
                            "width": "7*",
                            "allowSorting": false,
                            "isContentHtml": true,
                            "wordWrap": true
                        },
                        {
                            "header": "Wednesday",
                            "binding": "Wednesday",
                            "width": "7*",
                            "allowSorting": false,
                            "isContentHtml": true,
                            "wordWrap": true
                        },
                        {
                            "header": "Thursday",
                            "binding": "Thursday",
                            "width": "7*",
                            "allowSorting": false,
                            "isContentHtml": true
                        },
                        {
                            "header": "Friday",
                            "binding": "Friday",
                            "width": "7*",
                            "allowSorting": false,
                            "isContentHtml": true,
                            "wordWrap": true
                        },
                        {
                            "header": "Saturday",
                            "binding": "Saturday",
                            "width": "7*",
                            "allowSorting": false,
                            "isContentHtml": true,
                            "wordWrap": true
                        }
            ],
            autoGenerateColumns: false,
            itemsSource: CalendarData,
            isReadOnly: true,
            selectionMode: wijmo.grid.SelectionMode.Cell
        });
        CalendarGrid.trackChanges = true;
        CalendarGrid.itemFormatter = function (panel, r, c, cell) {
            if (panel.cellType == wijmo.grid.CellType.Cell) {
                var flex = panel.grid;
                flex.rows[r].height = 80;
            }
        };
    }
    function GetWebinarData(dayDate) {
        var webinars = "";
        for (var i = 0; i < WebinarData.length; i++) {
            var webinarDate = new Date(WebinarData[i]["EventDate"]);
            if (parseDate(dayDate).equals(webinarDate) == true) {
                webinars = webinars + "<a href='" + WebinarData[i]["URL"] + "'>" + WebinarData[i]["EventDescription"] + "</a><br />"
            }
        }
        return webinars;
    }
    function parseDate(input) {
        var parts = input.split('-');
        return new Date(parts[0], parts[1] - 1, parts[2]);
    }

    function CmdGetWebinar_OnClick() {
        var m = parseInt($("#WebinarMonth").val());
        var y = parseInt($("#WebinarYear").val());

        MakeCalendarGrid(m, y);
    }

    $(document).ready(function () {
        CalendarGrid = new wijmo.grid.FlexGrid('#CalendarGrid');

        var d = new Date();
        var m = d.getMonth();
        var y = d.getFullYear();

        $("#WebinarMonth").val(m);
        $("#WebinarYear").val(y);

        $.ajax({
            url: '/api/LatestEvent',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (Results) {
                while (WebinarData.length > 0) WebinarData.pop();
                WebinarData = Results;
                MakeCalendarGrid(m, y);
            }
        }).fail(
            function (xhr, textStatus, err) {  }
        );
    });
</script>
