    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: #555 !important;
    }
    a {
        color: #337ab7 !important;
    }
    .info-div {
        white-space:nowrap;
        text-align:center;
    }
    .box {
        background-color: coral;
        width: 30%;
        display:inline-block;
        margin:10px 0;
        border-radius:5px;
    }
    .text {
        padding: 20px 0;
        color:black;
        font-weight:bold;
        text-align:center;
    }
    dd {
    margin-bottom: 8px;
    }
    dt {
    margin-top: 5px;
    }
    .scroll{
        max-height: 450px;
        overflow-y: hidden;
    }