
@{
    ViewBag.Title = "August 2016 Magenta Alaska Cruise Workshop";
}

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"> - August 2016 Magenta Alaska Cruise Workshop</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">August 2016 Magenta Alaska 7-Day Cruise Workshop</h2>
        <p class="lead">
            Carnival 23 August 2016<br />
            Departure Port - Seattle<br />
            Magenta Meeting Internet<br />
            Magenta Meeting $995<br />
            Couples atending $1,495<br />
        </p>
        <p>
            Speakers
        </p>
        <ul class="list-group">
            <li class="list-group-item">Derek - Magenta</li>
            <li class="list-group-item">Sue - MACD</li>
            <li class="list-group-item">Tradier Guest Speaker</li>
            <li class="list-group-item">Glenn - Magenta Computer Engineer</li>
        </ul>
        $995 tickets <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='93a3a6ff-f249-49aa-8b31-85961f66b775' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form>
        $1,495 tickets for Couples <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='53c868a4-ee26-4e2f-9531-f07498757d96' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form>
        <p>
            <img src="/img/alaska1.jpg" />
        </p>
    </div>
</div>