
@{
    ViewBag.Title = "Anniversary5";
}

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"> - 5th Anniversary of Magenta Trader</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">5th Anniversay of Magenta Trader</h2>
        <p class="lead">
            August 15-16, 2015
        </p>
        <p>
            Bradenton, Florida - Holiday Inn
        </p>
        <ul class="list-group">
            <li class="list-group-item">Research Upcoming 6 months of Seasonal Trades</li>
            <li class="list-group-item">Learn the Advanced Techniques on the Updates</li>
            <li class="list-group-item">Celebrate 5 Years of Magenta Family</li>
        </ul>
        $295 tickets for Single <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='b8d5d262-ae96-4aef-bd51-d6d990a69277' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /></form>
        $445 tickets for Couples <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='e9dcd6e8-0f05-4247-b715-834d16923000' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form>
    </div>
</div>