
@{
    ViewBag.Title = "Beta Testers";
}

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"> - Beta Testers</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <div class="col-lg-6">
                <br />
                <p class="normal">
                    <h4>Magenta Trader Realtime Beta Testers</h4>
                </p>
                <br />
                <br />
                <p class="normal">
                    1. Magenta Charts and Data Free
                </p>
                <p class="normal">
                    2. Magenta Realtime Beta Testers Webinars
                </p>
                <p class="normal">
                    3. Active Trader to have for a Lifetime
                </p>
                <p class="normal">
                    4. US Realtime Data from Tradier ($500 Bonus)
                </p>
                <p class="normal">
                    5. Canada Realtime Data from Questrade
                </p>
                <p class="normal">
                    6. Received 2 Copies in the mail of the Agreement.  Please sign and return one copy on the SASE.
                </p>
        </div>
            <div class="col-lg-6" style="text-align:center">
                <br />
                <p>
                    <video width="450" height="280" poster="~/img/magenta-screen.png" onclick="this.paused?this.play():this.pause();">
                        <source src="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-8712445d-1500-80c5-e49a-f1e55d9aa79b/2015-09-17 19.51 Tradier Introductory Webinar.mp4?sv=2012-02-12&sr=c&si=1c1a834c-934a-41de-9c18-29e4c2bcccd3&sig=1pxE8bmg26%2FiBl%2BURQNT8iLCYAUQa0dyzwoqS9thM6g%3D&se=2016-09-17T00%3A17%3A44Z" type="video/mp4">
                    </video>
                </p>
                <br />
                <ul id="PackageList" class="list-group">
                    <li class="list-group-item" style="text-align: center; font-weight: normal; "><a href="/Account/Register" class="btn btn-success btn-lg"><span class="network-name">Register Now!</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>