
@{
    ViewBag.Title = "CarnivalCruise2017";
}

<div class="container">
    <div class="row">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">3-Days Caribbean Carnival Cruise</h2>
        <p>
            <img src="~/img/campaign/carnivalcruise.jpg" />
        </p>
        <p>
            Package: $796  <form name="PrePage" method="post" action="https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"> <input type="hidden" name="LinkId" value="8457a548-1275-4927-878e-99a4378dc007" /> <input type="image" src="//content.authorize.net/images/buy-now-gold.gif" /> </form>
            Test: $1 <form name="PrePage" method="post" action="https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"> <input type="hidden" name="LinkId" value="9b318de2-384b-4376-89e4-1d3cea1e579a" /> <input type="image" src="//content.authorize.net/images/buy-now-gold.gif" /> </form>
        </p>
    </div>
</div>
