
@{
    ViewBag.Title = ">Magenta Las Vegas Workshop - Nov 13-16, 2016";
}

<link href="/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-toggle.min.js"></script>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"> - Magenta Las Vegas Workshop - Nov 13-16, 2016</span></a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Magenta Las Vegas Workshop - Nov 13-16, 2016</h2>
    </div>

    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#workshop">Workshop</a>
            </li>
            <li>
                <a data-toggle="tab" href="#seatingPlan">Seating Plan</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="workshop" class="tab-pane fade in active">
            <div class="row">
                <p>
                    <img src="/img/lvnov132016.jpg" />
                </p>
                <hr />
                <p><b>Friday 11 November Workshop Webinar – We will review 5-10 trades for the upcoming week.</b></p>
                <p><b>Sunday 7-9pm Group review ranking the best upcoming trades.</b></p>
                <p><b>Everyone attending will be an experience Magenta Attendee at the Favorites. Identify a group to upload, locate and save group as CSV file, upload to Magenta Favorites, properly name, save and share, run Variable Scanner, Sort Variable Scanner list and finally review spreadsheet for best trade.</b></p>
                <p><b>Become an experienced Attendee using the Screener Strategies. Learn the proper use of the Sorting tool when reading the Spreadsheet.</b></p>
                <p><b>Try out the Option Chain to find the best strike.</b></p>
                <p>
                    <b>Master all Magenta Five Steps</b><br />
                    <ul>
                        <li>Finding Seasonal Trades</li>
                        <li>Find Current Trend with OB/OS Wave pattern</li>
                        <li>Current Trend matches Seasonality</li>
                        <li>Proper Price Location within the Magenta Channel</li>
                        <li>Candlestick/MACD Confirmation</li>
                    </ul>
                </p>
                <p>
                    <b>Reservation Code</b><br />
                    <ul>
                        <li>Input Group Code:    1387I1</li>
                        <li>Proceed</li>
                        <li>Or call 1-877-887-2261</li>
                        <li><a href="http://www.tuscanylv.com">www.tuscanylv.com</a></li>
                    </ul>
                </p>
                <hr />
                Magenta Las Vegas Workshop - Nov 13-16, 2016 - <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='16c583e4-ba7e-4c09-8f53-698490f80d47' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form>
                <br />
                Magenta Las Vegas Workshop - Nov 13-16, 2016 (If Couple) - <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='7915f54f-4c28-411d-8c90-2745e3725f20' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form>
            </div>
        </div>
        <div id="seatingPlan" class="tab-pane fade">
            <div class="row">
                <p>
                    <img src="/img/lv-nov13-16-seatingplan.png" />
                </p>
                <br />
                Magenta Las Vegas Workshop - Nov 13-16, 2016 - <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='16c583e4-ba7e-4c09-8f53-698490f80d47' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form>
                <br />
                Magenta Las Vegas Workshop - Nov 13-16, 2016 (If Couple) - <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='7915f54f-4c28-411d-8c90-2745e3725f20' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form>
            </div>
        </div>
    </div>

</div>