
@{
    ViewBag.Title = "Magenta Trader Tour 2017";
}

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"> - Magenta Trader Tour 2017</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading"></h2>
        <p>
            <img src="/img/campaign/MagentaTour2017.png" />
        </p>
        <p>
            Magenta Trader 2017 Tour (January 28 - February 26, 2017) - US$ 295 <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='d80ed15e-09ec-46e8-8038-6372bc0f4f50' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form>
        </p>
        <br />
        <br />
    </div>
</div>