
@{
    ViewBag.Title = "Questrade";
}

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"> - Questrade</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <div class="col-lg-6">
                <br />
                <a href="http://www.questrade.com/"><img src="~/img/magenta-questrade.png" /></a>
                <br />
                <br />
                <p class="normal">
                    Magenta Trader simply finds stocks that have the best upcoming Seasonality. When combined with Questrade's Real Time Data and Brokerage, Magenta Trader displays both the advantages of Seasonality and the Rewards on the Option Chain. Magenta Trader and Questrade offer one stop for increasing your probability of successful trades and competitive rates.
                </p>
                <p class="normal">
                    <b>Magenta Option Chain</b> Questrade Realtime Data simultaneously fills the Option Chain with ten different strikes. Simple and easy to use. Potential profits are displayed by selecting the Target Date and Price. Take advantage of graphical data comparing Historical and Implied Volatility by selecting a strike that have good profit and high success.
                </p>
                <p class="normal">
                    <b>Seasonality</b> Complete End-of-Day Seasonality with search tools to find the best upcoming seasonal trades. Magenta Trader does not use common 365 day Seasonality, which fills in the data for weekends and Holidays. Displaying only the days when the market is open removes 28% filler data. Magenta Trader's Dynamic Seasonality looks at the true Win/Loss record and the percent gain for your selected upcoming time period.
                </p>
                <p class="normal">
                    <b>Magenta Channel</b> Magenta Trader's proprietary channel finds the Current Trend, Linearity, and Annualized Growth or Decay Rate. Search and Sort tools find the best upcoming trades. For stocks that are moving straight or with Linearity, the Magenta Channel is designed to find the Overbought and Oversold (OB/OS) positions.
                </p>
                <br />
                <p class="normal">
                    <b>5 Steps of Magenta Trader</b> Say yes to the following 5 steps and you will see why year after year, the Magenta Family has tuned in for over 5 years to our weekly and archived webinars.
                    <ul>
                        <li>Step 1 Find a great upcoming seasonality trade.</li>
                        <li>Step 2 The Current Trend is also moving in the same direction as the seasonality.</li>
                        <li>Step 3 Is the OB/OS identifiable on the Magenta Channel?</li>
                        <li>Step 4 Is the Current Price in the correct location in the Magenta Channel?</li>
                        <li>Step 5 Candle Stick Confirmation</li>
                    </ul>
                </p>
                @*<p style="text-align:center">
                    <br />
                    <a href="https://attendee.gotowebinar.com/register/8552910012883995396" class="btn btn-primary btn-lg"><span class="network-name">Join the webinar</span></a>
                </p>*@
        </div>
            <div class="col-lg-6" style="text-align:center">
                <br />
                <br />
                @*<a href="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-8712445d-1500-80c5-e49a-f1e55d9aa79b/2015-09-17 19.51 Questrade Introductory Webinar.mp4?sv=2012-02-12&sr=c&si=1c1a834c-934a-41de-9c18-29e4c2bcccd3&sig=1pxE8bmg26%2FiBl%2BURQNT8iLCYAUQa0dyzwoqS9thM6g%3D&se=2016-09-17T00%3A17%3A44Z" class="btn btn-primary btn-lg"><span class="network-name">Click Here for a Program Overview Video</span></a>*@
                <a href="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-e8ef952c-5eda-477b-9d81-5df794efa05b/2016-06-22 08.16 test.mp4?sv=2012-02-12&sr=c&si=eff90bc1-c070-4bb4-b4a3-0e83ba38f59f&sig=FvdabnLgHRN4V2q0vcsmW%2Fe77jj3z%2BjxAoFUf7C7oUY%3D&se=2017-06-22T12%3A57%3A40Z" class="btn btn-primary btn-lg"><span class="network-name">Click Here for a Program Overview Video</span></a>
                <br />
                <p>
                    <video width="450" height="280" poster="~/img/magenta-screen.png" onclick="this.paused?this.play():this.pause();">
                        <source src="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-e8ef952c-5eda-477b-9d81-5df794efa05b/2016-06-22 08.16 test.mp4?sv=2012-02-12&sr=c&si=eff90bc1-c070-4bb4-b4a3-0e83ba38f59f&sig=FvdabnLgHRN4V2q0vcsmW%2Fe77jj3z%2BjxAoFUf7C7oUY%3D&se=2017-06-22T12%3A57%3A40Z" type="video/mp4">
                    </video>
                </p>
                <br />
                <ul id="PackageList" class="list-group">
                    <li class="list-group-item" style="text-align: center; font-weight: bold; ">Magenta Trader Purchase Price</li>
                    <li class="list-group-item" style="text-align: center; font-weight: normal; ">$3,495 and $50/Month Data Feeds</li>
                    <li class="list-group-item" style="text-align: center; font-weight: normal; ">-or-</li>
                    <li class="list-group-item" style="text-align: center; font-weight: normal; ">$249/Month</li>
                    <li class="list-group-item" style="text-align: center; font-weight: normal; ">Magenta Software and Data Feeds, Web99 and Realtime Webinars, Access to Magenta Favorites, (No access to Magenta Option Chains)</li>
                    <li class="list-group-item" style="text-align: center; font-weight: bold; ">Questrade Purchase Price</li>
                    <li class="list-group-item" style="text-align: center; font-weight: normal; ">$99.50/Month</li>
                    <li class="list-group-item" style="text-align: center; font-weight: normal; ">Magenta Software and Data Feeds, Web99 Coaches Weekly Webinar, Realtime Webinars, Access to Magenta Favorites, Access to Magenta Option Chains</li>
                    <li class="list-group-item" style="text-align: center; font-style: italic; font-weight: bold;">$99.50 For the first two (2) months with money-back guarantee!  Every month thereafter will be $99.50, Call and cancel anytime 941 201-7680</li>
                    <li class="list-group-item" style="text-align: center; font-style: italic; ">Take advantage of the Economies of Scale and purchase through Questrade</li>
                    @*<li class="list-group-item" style="text-align: center; font-weight: normal; "><a href="http://www.questrade.com/" class="btn btn-success btn-lg"><span class="network-name">Subscribe Now!</span></a></li>*@
                    <li class="list-group-item" style="text-align: center; font-weight: normal; "><a href="https://attendee.gotowebinar.com/register/8552910012883995396" class="btn btn-success btn-lg"><span class="network-name">Join the Webinar Now!</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>