<div class="container">
    <div class="row" align="center">
        <table width="100%" height="100%" valign="top" align="center">
            <tr>
                <td>
                    <table width="700px" valign="top" align="left" cellpadding="0" cellspacing="5" style="font-family:arial;font-size:13px; font-style:normal;">
                        <tbody>
                            <tr>
                                <td width="259" height="128px" colspan="1" rowspan="1" valign="top" align="left">
                                    <a href="http://www.magentatrader.com"><img src="http://www.magentatrader.com/img/logo-2.png" title="Magenta Trader" /></a>
                                </td>
                                <td width="424" height="128px" colspan="1" rowspan="1" valign="middle" align="right">
                                    <h2 style="color:#050563;">Seasonality Workshop</h2>
                                    <h3>
                                        1 hour of FREE online training<br>
                                        9pm ET June 23, 2015<br>
                                        Sponsored by <span style="font-weight:bold; font-style:italic; color:#870a6f;">Magenta Trader</span>
                                    </h3>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" rowspan="0" valign="top" align="left">
                                    <table valign="top" align="left" cellpadding="0" cellspacing="0" style="font-family:arial;font-size:13px; font-style:normal;">
                                        <tbody>
                                            <tr>
                                                <td width="159" height="314" valign="top" align="left">
                                                    <p>&nbsp;</p>
                                                    <p><img src="http://www.magentatrader.com/img/derekportrait-2.png" alt="Derek Pilger" align="middle"></p>
                                                </td>
                                                <td width="531" height="314" valign="top" align="left">
                                                    <p style="color:#000;">&nbsp; </p>
                                                    <p style="color:#000;">
                                                        Hello,<br>
                                                        <br>
                                                        I want to invite you to our upcoming Seasonality Workshop on June 23, 2015 at 9pm ET. <br>
                                                        <br>
                                                        Derek Pilger, the founder of Magenta Trader will be presenting <span style="color:#050563;font-weight:bold;">The Advantages of Seasonality, Range Trading and MACD. </span>
                                                    </p>
                                                    <p style="color:#000;">
                                                        We will be reviewing:<br>
                                                        <br>
                                                        How Seasonality will increase your success<br>
                                                        Range Trading Over Bought and Over Sold<br>
                                                        MACD The perfect compliment<br>
                                                        Review Trades that are current and how to enter...
                                                    </p>
                                                    <p style="color:#000;">
                                                        <br>
                                                        <a href="https://attendee.gotowebinar.com/register/2176207656982220290" style="text-decoration:none; color:#fff;font-weight:bold;background-color:#870a6f;  color:#fff; text-align:center;padding:10px;">Click Here To Register!</a>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" rowspan="0" height="100px" align="left" valign="top">
                                                    <p style="text-align:justified;">
                                                        We are very excited introducing the most advanced 100% Cloud Trading System. If you are unable to attend and would like to review the archived webinar, register anyway.<br>
                                                        <br>
                                                        Please see the archive only box. For more information on Magenta Trader Software please call our office 813 961-2641 or <a href="http://cloud.magentatrader.com/" style="font-weight:bold;color:#050563;text-decoration:none;">cloud.magentatrader.com</a>. <br>
                                                        <br>
                                                        Thank you!
                                                    </p>
                                                    <br>


                                                    <center>
                                                        <p style="text-align:justified;font-family:arial; font-size:11px; color:#808080;">
                                                            Copyright 2015 Magenta Trader All rights reserved <br>
                                                            <a href="http://www.magentatrader.com"<strong style="font-family:arial; font-size:12px; color:#808080;">www.magentatrader.com</strong></a>
                                                        </p>
                                                    </center>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
        </table>

    </div>
</div>


