
@{
    ViewBag.Title = "Tradier";
}

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"> - Tradier</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <div class="col-lg-6">
                <br />
                <a href="https://brokerage.tradier.com/?utm_source=MagentaTrader&utm_medium=Referral"><img src="~/img/magenta-tradier.png" /></a>
                <br />
                <br />
                <p class="normal">
                    Magenta Trader simply finds stocks that have the best upcoming Seasonality. When combined with Tradier's Real Time Data and Brokerage, Magenta Trader displays both the advantages of Seasonality and the Rewards on the Option Chain. Magenta Trader and Tradier offer one stop for increasing your probability of successful trades and competitive rates.
                </p>
                <p class="normal">
                    <b>Magenta Option Chain</b> Tradier Realtime Data simultaneously fills the Option Chain with ten different strikes. Simple and easy to use. Potential profits are displayed by selecting the Target Date and Price. Take advantage of graphical data comparing Historical and Implied Volatility by selecting a strike that have good profit and high success.
                </p>
                <p class="normal">
                    <b>Seasonality</b> Complete End-of-Day Seasonality with search tools to find the best upcoming seasonal trades. Magenta Trader does not use common 365 day Seasonality, which fills in the data for weekends and Holidays. Displaying only the days when the market is open removes 28% filler data. Magenta Trader's Dynamic Seasonality looks at the true Win/Loss record and the percent gain for your selected upcoming time period.
                </p>
                <p class="normal">
                    <b>Magenta Channel Magenta</b> Trader's proprietary channel finds the Current Trend, Linearity, and Annualized Growth or Decay Rate. Search and Sort tools find the best upcoming trades. For stocks that are moving straight or with Linearity, the Magenta Channel is designed to find the Overbought and Oversold (OB/OS) positions.
                </p>
                <br />
                <p class="normal">
                    <b>5 Steps of Magenta Trader</b> Say yes to the following 5 steps and you will see why year after year, the Magenta Family has tuned in for over 5 years to our weekly and archived webinars.
                    <ul>
                        <li>Step 1 Find a great upcoming seasonality trade.</li>
                        <li>Step 2 The Current Trend is also moving in the same direction as the seasonality.</li>
                        <li>Step 3 Is the OB/OS identifiable on the Magenta Channel?</li>
                        <li>Step 4 Is the Current Price in the correct location in the Magenta Channel?</li>
                        <li>Step 5 Candle Stick Confirmation</li>
                    </ul>
                </p>
                @*<p>
                <font size="2">
                    How can a combination of Magenta Trader and Tradier benefits your trading <br /><br />
                    Magenta has recently added Tradier to offer trading, market data, and brokerage, instantly to Magenta Platform. Tradier is a fantastic program for developers. The heavy lifting has already been done. <br /><br />
                    Magenta combines a unique look at Dynamic 252 Seasonality and the proprietary Magenta Channel. Together they graphically display a unique chart of Historical Volatility. Our Screener finds upcoming Variable Day Trades that are 10-0 over the last ten years with the Seasonality. Using the Magenta Channel will display the Current Trend of Overbought and Oversold. The combination dramatically improves your probability of success by uniquely using two different sets of Historical Data. The last 10 years of Seasonality and the Current Trend Data of the Magenta Channel.<br /><br />
                    How do we improve of the charts? We have an excellent chart that displays the difference between Historical and Implied Volatility. We use our Search Tool to find charts that have high probability of moving up or moving down. Until now we could not view the rewards. Find a Target Date and Price using Magenta and now on the same chart view the Rewards of 10 different strikes.<br /><br />
                    This is with the addition of Tradier. When advisors and developers launch their platforms using our APIs, they are able to offer trading, market data, and brokerage, instantly. The heavy lifting has already been done.<br /><br />
                    And Tradier works with developers and advisors - it never works against them.<br /><br />
                    Please view the video below to learn more or call 813 961-2641.<br /><br />
                </font>
            </p>*@
        </div>
            <div class="col-lg-6" style="text-align:center">
                <br />
                <br />
                <a href="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-8712445d-1500-80c5-e49a-f1e55d9aa79b/2015-09-17 19.51 Tradier Introductory Webinar.mp4?sv=2012-02-12&sr=c&si=1c1a834c-934a-41de-9c18-29e4c2bcccd3&sig=1pxE8bmg26%2FiBl%2BURQNT8iLCYAUQa0dyzwoqS9thM6g%3D&se=2016-09-17T00%3A17%3A44Z" class="btn btn-primary btn-lg"><span class="network-name">Click Here for a Program Overview Video</span></a>
                <br />
                <p>
                    <video width="450" height="280" poster="~/img/magenta-screen.png" onclick="this.paused?this.play():this.pause();">
                        <source src="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-8712445d-1500-80c5-e49a-f1e55d9aa79b/2015-09-17 19.51 Tradier Introductory Webinar.mp4?sv=2012-02-12&sr=c&si=1c1a834c-934a-41de-9c18-29e4c2bcccd3&sig=1pxE8bmg26%2FiBl%2BURQNT8iLCYAUQa0dyzwoqS9thM6g%3D&se=2016-09-17T00%3A17%3A44Z" type="video/mp4">
                    </video>
                </p>
                <br />
                <ul id="PackageList" class="list-group">
                    @*<li class="list-group-item" style="text-align: center; font-weight: bold; ">Tradier Brokerage simple, competitive pricing:</li>
                    <li class="list-group-item" style="text-align: center; font-weight: normal; ">Equities: $3.49 per order</li>
                    <li class="list-group-item" style="text-align: center; font-weight: normal; ">Options: $0.35 per contract ($5 min. single leg; $7 min. multi leg)</li>*@
                    <li class="list-group-item" style="text-align: center; font-style: italic; ">Weekly webinars are archived and included.</li>
                    <li class="list-group-item" style="text-align: center; font-weight: normal; "><a href="https://brokerage.tradier.com/?utm_source=MagentaTrader&utm_medium=Referral" class="btn btn-success btn-lg"><span class="network-name">Subscribe Now!</span></a></li>
                    <li class="list-group-item" style="text-align: center; ">Magenta Coupon Code: MAGENTA80 </li>
                    @*<li class="list-group-item" style="text-align: left; font-style: normal; font-size: 10px; "> 
                        <ul>
                            <li>$99 per month (a discount of $150 of the regular monthly price) 0-34 equity trades per month or 0-99 options contracts and 0-9 tickets per month</li>
                            <li>$49 per month if you place 35 – 74 equity trades per month or 100 – 199 options contracts and minimum of 9 – 19 tickets per month</li>
                            <li>FREE per month if you place 75 equity traders per month or 200+ options contracts and minimum of 20 tickets</li>
                        </ul>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
</div>