
@{
    ViewBag.Title = "Web99";
}

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"> - Web99</span></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-lg-12">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <br />
                <p class="normal">
                    <b>Web99 - Includes everyone paying above the $50/Month and the Web99 Annual</b>
                </p>
                <br />
                <ul>
                    <li>The Data and Server $50/Month Fee doest not include Web99</li>
                    <li>The Beta Tester Free Trial of Web99 ends August 1, 2016</li>
                    <li>Derek Pilger will continue to open to all Webinars on Wednesday 8PM ET</li>
                    <li>Derek Pilger will join Web99 for the Sunday 8PM ET Webinars (Open to Web99 Only)</li>
                    <li>Web99 Derek will include emails and text messaging of recommended trades</li>
                    <li>Member Button is required to check current cell and email.  (Must be Web99)</li>
                    <li>If you do not receive an email invite, go to the Magenta Calendar</li>
                </ul>
                <br />
                <p class="normal">
                    If you are uncertain of your status please email derekpilger@hotmail.com or call 941 201-7680
                </p>
                <br />
                Web99 - $99 / Month <form name='PrePage' method='post' action='https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx'> <input type='hidden' name='LinkId' value='f53a6465-07f9-4739-bb9d-048cf29816ec' /> <input type='image' src='//content.authorize.net/images/buy-now-gold.gif' /> </form>
            </div>
        </div>
    </div>
</div>

